<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" href="/img/cloud.jpg">
    <title>Help Page</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <h2>This page is HELP Page. Visit the given given email address for more help.</h2>
    <p>Visit {{email}} for more help.</p>
    </div>
    {{>footer}}

  </body>
</html>